In [4]:
a = 1
b = 2
c = 3
print(c)
c = (a-b)
print(c)

3
-1

In [ ]:
a = "carros"
b = "marcas"
C = "fabricas"

In [8]:
a = "peixe"
b =  " cavalo"
c = "animais"
print(c)
c = (a+b)
print(c)

animais
peixe cavalo

In [23]:
a = 5
b = 50
c = 500
print(c)
c = (a<=b)
print(c)

500
True

In [11]:
a = 50
b = 10
c = 30
print(c)
c = (a>b)
print(c)

30
True

In [16]:
a = 22
b = 15
c = 44
print(c)
c = (a<b)
print(c)

44
False

In [19]:
a = "lua"
b = " sol"
c = "universo"
print(c)
c = (a+b)
print(c)

universo
lua sol

In [21]:
a = 12
b = 23
c = 34
print(c)
c = (a-b)
print(c)
c = (a+b)
print(c)

34
-11
35

In [24]:
a = 2
b = 2
c = 3
print(a==b)
print(a==c)

True
False

In [25]:
a = 2
b = 2
c = 3
print(a!=b)
print(a!=c)

False
True

In [27]:
a = "2"
b = 2
c = 3
print(a==b)
print(b==c)

False
False

In [35]:
numero = 50

if numero == 50:
  print("o numero é igual a cinquenta")
else:
  print("o numero não é igual a cinquenta")

o numero é igual a cinquenta

In [50]:
fruta1 = "pessego"
fruta2 = "morango"
fruta3 = "abacaxi"
if fruta1 == fruta2 == fruta3:
    print("As frutas são iguais.")
else:
    print("As frutas são diferentes.")

As frutas são diferentes.

In [52]:
carro1 = "onix"
carro2 = "fiesta"
carro3 = "camaro"
carro4 = "audi"
if carro1 == carro2:
  print("os carros são iguas")
else:
  print("os carros são diferentes")

os carros são diferentes

In [54]:
cor = "preto"
cores_preferidas = ["rosa", "azul", "verde", "vermelho", "preto"]

if cor in cores_preferidas:
    print(f"{cor} é uma das cores preferidas.")
else:
    print(f"{cor} não está na lista de cores preferidas.")

preto é uma das cores preferidas.

In [59]:
comida = "sopa"  " acai"
comidas_do_restaurante = ["camarao", "sopa", "macarrao", "sorvete", "acai"]

if comida in comidas_do_restaurante:
  print(f'{comida}  nao tem na comidas do restaurante')
else:
  print(f'{comida} tem na comidas do restaurante')

sopa acai tem na comidas do restaurante

In [77]:
palavra = "paralelepipedo"

for letra in palavra:
  if letra == 'u':
    print("Encontrou a letra 'y'!")
  else:
    print("não econtrou a letra 'u'!")

não econtrou a letra 'u'!

In [80]:
a = 3
b = 7
c = 24
if a + b == c:
  print(a * c / b)
else:
   print(a+b!=c)

True

In [83]:
x = 22.6
y = 77.2
z = 44.7
if z * x == y:
  print(x * y / z)
else:
  print(x + y!= z)

True