In [1]:
string1 = "Olá, "
string2 = "mundo!"
concatenada = string1 + string2
print(concatenada)

Olá, mundo!

In [4]:
string1 = "Oi"
string2 =  " pessoas"
string3 =  " como estão?"
concatenada = string1 + string2 + string3
print(concatenada)

Oi pessoas como estão?

In [14]:
idade = 30
nome= "Lucas"
salario = 100.50
mensagem = f"idade: {idade}, nome: {nome}, salario: {salario}"
print(mensagem)

idade: 30, nome: Lucas, salario: 100.5

In [11]:
preço = 60.0
mensagem = f"o valor da passagem é {preço}"
print(mensagem)

o valor da passagem é 60.0

In [15]:
nome = "julia"
idade = 50

print(nome*idade)

juliajuliajuliajuliajuliajuliajuliajuliajuliajuliajuliajuliajuliajuliajuliajuliajuliajuliajuliajuliajuliajuliajuliajuliajuliajuliajuliajuliajuliajuliajuliajuliajuliajuliajuliajuliajuliajuliajuliajuliajuliajuliajuliajuliajuliajuliajuliajuliajuliajulia

In [27]:
a = 9+9
e = 3-3
i = 18/3
print (a+e+i)
print (a-e-i)

24.0
12.0

In [31]:
empresa = "Senai"
funcionarios = 300
horas = 8
mensagem = f"a empresa: {empresa} contém uma quantidade de funcionarios que são {funcionarios} pessoas que trabalham {horas} horas por dia"
print(mensagem)

a empresa: Senai contém uma quantidade de funcionarios que são 300 pessoas que trabalham 8 horas por dia

In [48]:
flor = "rosa"
planta = " arvore"
vegetal = " abobora "
quantidade =    300
concatenada = flor + planta + vegetal + str(quantidade)
print(concatenada)

rosa arvore abobora 300

In [38]:
idade = 25
mensagem = "A idade do usuário é " + str(idade)
print(mensagem)

A idade do usuário é 25

In [37]:
string1 = "banana"
string2 = " e"
string3 = " pera"

print(string1 + string2 + string3)

banana e pera

In [50]:
numero_float = 43.7
numero_inteiro = int(numero_float)
print(numero_inteiro)

43

TypeError: ignored

In [55]:
float

primeiro_deposito = 100.0
segundo_deposito = 250.0
deposito_total = primeiro_deposito + segundo_deposito

print(deposito_total)

350.0

In [56]:
tamanho = 5
print(f'o tamanho é: {tamanho}')

o tamanho é: 5

In [64]:
idade = 18

if idade >= 18:
  print('você pode dirigir')
else:
  print('você não pode dirigir')

você pode dirigir

In [65]:
a = 4
b = 5
if a>b:
print('você passou de ano')
else('você não passou de ano')

IndentationError: ignored

In [71]:
idade: ("digite sua idade")

if idade >= 18:
    print("Você é maior de idade.")
else
    print("Você é um adolescente.")

SyntaxError: ignored

In [74]:
a = 1
b = 2
c = 3
print(a-b-c)
print(a*b/c)
print(a+c+b)

-4
0.6666666666666666
6

In [76]:
horario= 19
menina1 = "amanda"
menina2 = "gabriella"
menina3 = "isa"
mensagem = f"as meninas {menina1}, {menina2} e {menina3} marcaram de sair as {horario}hrs"
print(mensagem)

as meninas amanda, gabriella e isa marcaram de sair as 19hrs