In [11]:
f = 57

print(float(f))

57.0

In [3]:
a = 50*7

print(a)

350

In [5]:
nome = "Gabriel"
idade = 5

print(nome*idade)

GabrielGabrielGabrielGabrielGabriel

In [28]:
numero_string = "Senha"
numero_int = 7

print(numero_string*numero_int)

SenhaSenhaSenhaSenhaSenhaSenhaSenha

In [13]:
numero_int = 5
numero_float = 90.2

print(numero_int*numero_float)

451.0

In [39]:
nome_string_1 = "Morango"
nome_string_2 = " Banana"

concatenada = nome_string_1 + nome_string_2

print(concatenada)

Morango Banana

In [33]:
nome_string_1 = "Eii"
nome_string_2 = " como voce esta ?"

concatenada = nome_string_1 + nome_string_2

print(concatenada)

Eii como voce esta ?

In [27]:
nome = "Gabriel"
idade = 25
salario = 500.0

mensagem = f"nome: {nome}, idade: {idade}, salario: {salario}"

print(mensagem)

nome: Gabriel, idade: 25, salario: 500.0

In [35]:
preço = 150.50

mensagem = f"O valor do ingresso é {preço}"

print(mensagem)

O valor do ingresso é 150.5

In [37]:
numero_float_1 = 2.0
numero_float_2 = 5.5
numero_float_3 = 7.0

print(numero_float_1 + numero_float_2 * numero_float_3)

40.5