In [7]:
string1 = "botafogo "
string2 = "vai "
string3 = "ganhar!"
concatenada = string1 + string2 + string3
print(concatenada)
print(string1)
print(string2)
print(string3)

botafogo vai ganhar!
botafogo
vai
ganhar!

In [8]:
float1 = 80.4
float2 = 20.2
float3 = 13.8
float1 / float2 + float3
print(float3)

13.8

In [6]:
string1 = "botafogo "
string2 = "botafogo "
string3 = "campeão "
string4 = "desde "
int1 = "1910"
string1 + string2 + string3 + string4 + int1

'botafogo botafogo campeão desde 1910'

In [13]:
string1 = "samile "
string2 = "ama "
string3 = "o "
string4 = "eduardo "
string5 = "33"
string1 + string2 + string3 + string4 + string5

'samile ama o eduardo 33'

In [14]:
float1 = 2.9
float2 = 2.6
float3 = 9.8
float4 = 1.3
float1 * float2 + float3 - float4

16.04

In [15]:
float1 = 6.7
int1 = 10
float1 * int1

67.0

In [16]:
int1 = 6
int2 = 9
int3 = 7
int1 * int2 + int3 + int1

67

In [23]:
float1 = 4.6
float2 = 7.2
string1 = "resulta"

resultado = float1 * float2
resultado_str = str(resultado)
resultado_final = resultado_str + string1

print(resultado_final)
print(resultado)

33.12resulta
33.12