In [1]:
a= int(input('Entre 1ist number:'))
b=int(input('Entre 2nd number:'))

if a>b:
  print(a+b)

else:
  print(a-b)

Entre 1ist number:5054
Entre 2nd number:745746
-740692

In [2]:
a= int(input('Entre 1ist number:'))
b=int(input('Entre 2nd number:'))

if a>b:
  print(a+b)

else:
  print(a*b)

Entre 1ist number:740692
Entre 2nd number:898999
-158307

In [20]:
a= int(input('Entre 1ist number:'))
b=int(input('Entre 2nd number:'))

if a>b:
  print(a*b)

elif a>b:
  print('deu igual')
else:
  print(a+b)

Entre 1ist number:8789
Entre 2nd number:9753
18542