In [ ]:
a= 40
b= 42
c= 9
print(c)
c=(a+b)
print(c)

9
82

In [ ]:
a= "manu"
b= "nascimento"
c= "eu"
print(c)
c= (a+b)
print(c)

eu
manunascimento

In [ ]:
a= 2
b= 2
c= 3

print(a==b)
print(a==c)

True
False

In [ ]:
a= 2
b= 2
c= 3

print(a!=b)
print(a==c)

False
False

In [ ]:
a= 2
b= 2
c= 3

print(a==b)
print(a!=c)

True
True

In [ ]:
a= "2"
b= 2
c= 3

print(a==b)
print(b==c)

False
False

In [ ]:
a = int(input('digite o primeiro numero: '))
b = int(input('digite o segundo numero: '))
c = int(input('digite o terceiro numero: '))

if a>c:
  print(a==b)

else:
    print(a==c)

digite o primeiro numero: 5
digite o segundo numero: 8
digite o terceiro numero: 9
False

In [ ]:
frutas = ['maçã', 'banana', 'laranja', 'uva']
for fruta in frutas:

 print(fruta)

maçã
banana
laranja
uva

In [ ]:
nome1 = "sol "
nome2 = "tradução em ingles"
nome3 = " sun"
nome4 = " o aplicativo que utilizei foi o "
aplicativo = " duolingo "
nome5 = " ele completa hoje "
nome6 = " cinco anos "

mensagem= (nome1+ nome2+ nome3+ nome4+ aplicativo+ nome5+ nome6)
print(mensagem)

sol tradução em ingles sun o aplicativo que utilizei foi o  duolingo  ele completa hoje  cinco anos

In [ ]:
a= 40
b= 42
c= 9
if a>c:
  print(a+b)

else:
    print(a-c)

82

In [ ]:
nomes =['joao', 'pedro', 'maria', 'lucas']

for nome in nomes:


 print(nome)

joao
pedro
maria
lucas

In [ ]:
comida =("pizza")
for letra in comida:
  if letra == 'z':
    print("tem a letra!")
  else:
      print("nao tem a letra!")

nao tem a letra!
nao tem a letra!
tem a letra!
tem a letra!
nao tem a letra!